@model WebApplication1.Models.Student;
  @{
    ViewData["Title"] = "Index2";
}
@{
<h1>Index2</h1>
<h1>After passing object</h1>
<p>Your name is - @Model.Name</p>
<p>You live in - @Model.Address</p>
}
